<div class="container">
<h3>Please Enter Borrower Information</h3>
<br>
<div class="row">
<div class="form-group col-xs-10 col-md-6 col-lg-6">
  <label >First Name:<span class="mandatory">*</span> :</label>
  <input [(ngModel)]="borrowerForm.firstName" type="text" class="form-control" >
</div>
<div class="form-group col-xs-10 col-md-6 col-lg-6">
  <label >Last Name:<span class="mandatory">*</span> :</label>
  <input [(ngModel)]="borrowerForm.lastName" type="text" class="form-control" >
</div>
</div>
<div class="row">
<div class="form-group col-xs-10 col-md-6 col-lg-6">
  <label >Date of Birth:</label>
  <input placeholder="dd-mm-yyyy" type="date" [(ngModel)]="borrowerForm.dateOfBirth" class="form-control" >
</div>
<div class="form-group col-xs-10 col-md-6 col-lg-6">
  <label >PAN Number<span class="mandatory">*</span> :</label>
  <input type="text" [(ngModel)]="borrowerForm.pan" class="form-control" >
</div>
<div class="form-group col-xs-10 col-md-6 col-lg-6">
  <label >Aadhaar Number:</label>
  <input type="text" [(ngModel)]="borrowerForm.aadhaar" class="form-control" >
</div>
</div>
<div class="row">
<div class="form-group col-xs-10 col-md-6 col-lg-6">
  <label >Employment Type:</label>
  <select [(ngModel)]="borrowerForm.empType" class="form-control" >
  <option value="salariedGovt">Salaried - Government</option>
  <option value="salariedPvt">Salaried - Private</option>
  <option value="business">Business</option>
  </select>
</div>
<div class="form-group col-xs-10 col-md-6 col-lg-6">
  <label >Contact Number<span class="mandatory">*</span> :</label>
  <input type="text" [(ngModel)]="borrowerForm.contactNumber" class="form-control" >
</div>
</div>
<div class="row">
<div class="form-group col-xs-10 col-md-12 col-lg-12">
  <label >Address Line 1:</label>
  <input type="text" [(ngModel)]="borrowerForm.addressLine1" class="form-control" >
</div>
</div>
<div class="row">
<div class="form-group col-xs-10 col-md-12 col-lg-12">
  <label >Address Line 2:</label>
  <input type="text" [(ngModel)]="borrowerForm.addressLine2" class="form-control" >
</div>
</div>
<div class="row">
<div class="form-group col-xs-10 col-md-12 col-lg-12">
  <label >Address Line 3:</label>
  <input type="text" [(ngModel)]="borrowerForm.addressLine3" class="form-control" >
</div>
</div>
<div class="row">
<div class="form-group col-xs-10 col-md-4 col-lg-4">
  <label >City:</label>
  <input type="text" [(ngModel)]="borrowerForm.city" class="form-control" >
</div>
<div class="form-group col-xs-10 col-md-4 col-lg-4">
  <label >State:</label>
  <input type="text" [(ngModel)]="borrowerForm.state" class="form-control" >
</div>
<div class="form-group col-xs-10 col-md-4 col-lg-4">
  <label >Pincode:</label>
  <input type="text" [(ngModel)]="borrowerForm.pincode" class="form-control" >
</div>
</div>
<div class="row">
<div class="form-group col-xs-12 col-md-12 col-lg-12 centerButton">
  <button (click)="next()">Next</button>
</div>
</div>
</div>