<div class="container">
<h3>Please Enter Loan Information</h3>
<br>
<div class="row">
<div class="form-group col-xs-10 col-md-6 col-lg-6">
  <label >Total Loan Amount<span class="mandatory">*</span> :</label> In Rupees
  <input [(ngModel)]="loanForm.totalAmount" type="text" class="form-control" >
</div>
<div class="form-group col-xs-10 col-md-6 col-lg-6">
  <label >Downpayment<span class="mandatory">*</span> :</label> In Rupees
  <input type="text" [(ngModel)]="loanForm.downpayment" class="form-control" >
</div>
</div>
<div class="row">
<div class="form-group col-xs-10 col-md-6 col-lg-6">
  <label >Interest Rate<span class="mandatory">*</span> :</label> In %
  <input type="text" [(ngModel)]="loanForm.interestRate" class="form-control" >
</div>
<div class="form-group col-xs-10 col-md-6 col-lg-6">
  <label >Tenure<span class="mandatory">*</span> :</label> In Months
  <input type="text" [(ngModel)]="loanForm.tenure" class="form-control" >
</div>
</div>
<div class="form-group col-xs-12 col-md-12 col-lg-12 centerButton">
  <button (click)="next()">Submit Basic Information</button>
</div>
</div>